.Modal {
    background-color: white;
    position: relative;
    top: 12rem;
    left: 4rem;
    right: 4rem;
    bottom: 12rem;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    
}

.ModalButton {
    color: black;
    
    background: pink;
    position: relative;
}